:root{
   --mainColor:#e65f78;
   scroll-padding-top: 60px;
}
  body{
   scroll-behavior: smooth;
  }
*{
    margin: 0px;
    transition: all 2s smooth;
    box-sizing: border-box;
    
}
.clr{
    clear: both;
}
   /* Home section */
   .navbar  a{
      transition: all 0.2s;
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      -ms-transition: all 0.2s;
      -o-transition: all 0.2s;
  }
#home {
    background-image: url('../images/drew-coffman-1872.jpg');
    height: 100%;
     background-size: 100% 100%;
}
.up-home{
   position: fixed;
   bottom: 10px;
   right: 10px;
   background-color: wheat;
   width: 30px;
   height: 30px;
   border-radius: 0.5 px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.navbar{
    background-color: transparent;
    color: white;
    height: 10%;
    padding-left: 15%;
    font-family: 'Alegreya', serif;
    font-size: 18px;
}
.navbar img{
   
    float: left;
    height: 80%;
    width: 5%;
}
.navbar ul{
    list-style: none;
    float: right;   
     padding-top: 1%;
    
    width: 50%;
}
.navbar a{
      transition: all 0.2s;
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      -ms-transition: all 0.2s;
      -o-transition: all 0.2s;
  
    text-decoration: none;
    color: white;

}
.navbar ul li a:hover{
   color: #8e7754 ;
}
.navbar li{
    display: inline-block;
    padding-left: 2.3%;
}
#home .caption{
    text-align: center;
    color: white;
   padding-top: 4% ;
    font-size: 32px;
    font-family: 'Alegreya', serif;
}

  #home .caption h1{
   font-family: 'Alegreya', serif;
   font-size: 76px;
  }
#home .caption .p1{
    padding: 10px  ;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 22px;
   }
#home .caption .p2{
 
 padding: 4%;
 font-family: 'Alegreya Sans', sans-serif;
 font-size: 24px;
 
}
#home .caption .btn1 ,#home .caption .btn2{
    padding: 15px 20px;
   color: white;
   border-radius:4px ;
   font-family: 'Alegreya Sans', sans-serif;
   font-size: 16px;
   cursor: pointer;
}
#home .caption .btn1{
    border: none;
    background-color:#8e7754;
}
#home .caption .btn1:hover{
   border: 2px solid white;
    background-color:transparent;
}
    
#home .caption .btn2{
    border: 2px solid white;
    background-color: transparent;
}     
#home .caption .btn2:hover{
    border: 2px solid white;
    background-color:#8e7754;
}     
#home .scroll{
   width: 30px;
   height: 50px;
   border: 1px solid #fff;
   position: absolute;
   bottom: 10px;
   left: 50%;
   transform: translateX(-50%);
   border-radius: 20px;
   animation: bounc 1s infinite linear;
   -webkit-animation: bounc 1s infinite ;
   cursor: pointer;
}
header .scroll::after{
   content: "";
   position: absolute;
   width: 3px;
   height: 5px;
   bottom: 10px;
   left: 50%;
   transform: translateX(-50%);
   background-color: #fff;

}
@keyframes bounc {
   0%{bottom: 10px;}
   30%{bottom: 30px;}
   50%{bottom: 10px;}
   60%{bottom: 15px;}
   100%{bottom: 10px;}
}
         /*WHO WE ARE SECTION*/

         #about{
   
            /* height: 600px; */
            width: 80%;
            margin: auto;
            /* display: flex;
            justify-content: center;
            align-items: center; */
            padding-top: 40px;
            /* padding-left: 30px; */
             margin-top: 40px;
            padding-bottom: 40px;
            margin-bottom: 40px;
           position: relative;
         }
         #about .about-info h2{
            font-family: 'Alegreya', serif;
            font-size: 32px;
         }
         #about .about-img{
           
            /* height: 80%; */
            width: 45%;
            display: inline-block;
           
           /* padding-left: 30px; */

         }
         #about .about-img img{
            
            width: 100%;
            /* margin-top: 30px; */
            
        
         }
         #about .about-info{
          
            font-family: 'Alegreya Sans', sans-serif;
            font-size: 17px;
            width: 49%;
              position: absolute;
              top: 15% ;
              left: 50%;
            display: inline-block;
           
             padding-bottom: 30px;
               
               margin-bottom: 30px;
               
         
         }
         
         /* .about-info{
            display: flex;
            justify-content: center;
            align-items: center;
         } */
         
         #about .about-info h2{
            color:#303030;
         margin-bottom: 20px;
         }
         #about .about-info p{
           
            color:#686868;
            line-height: 30px;
            
         }
      
         .about-info img{
            width: 40px;
            border: 1px solid #cedef3;
            border-radius: 50%;
            cursor: pointer;
         }


         /* Our location section */
         .LocCont{
            width: 100%;
            background-color: #f8f8f8;
            padding-block: 50px;
         }
         #location{
            padding-block: 30px;
            /* height: 550px; */
           
             width: 80%;
                 
            margin: auto;
         }
         #location h2{
            color:#303030;
            font-family: 'Alegreya', serif;
            font-size: 32px;
         }
         #location .location-info{
            width: 45%;
            margin-right: 30px;
            display: inline-block;
           
            
           
         }
         #location .location-info p{
            color:#686868;
            font-family: 'Alegreya Sans', sans-serif;
            font-size: 17px;
            line-height: 44px;
         }
          #location .location-img {
              
            display: inline-block;
            width: 45%;
             /* margin-left: 30px;
              padding-block: 20px; */
         
         } 
         #location .location-img img{
            width: 100%;
         }
         /* our baking section */

      #ourbaking{
         
         /* height: 600px; */
         text-align: center;
         padding: 50px 0px ;
      }
      #ourbaking h2{
         color:#303030;
         font-family: 'Alegreya', serif;
         font-size: 30px;
      }
     #ourbaking h3{
      font-family: 'Alegreya', serif;
      font-size: 22px;
      color:#303030;
     }
     #ourbaking p{
      
     color: #686868;
     font-size: 17px;
     font-family: 'Alegreya Sans', sans-serif;

     }
         .baking{
            display: inline-block;
            text-align: center;
            width: 350px ;
            margin:0px 15px 10px 15px;
   
           }
      .baking img{
   width: 100%;
        }
         .baking .p2{
         line-height: 32px;
         }


         /* contact section */
           .contCont{
            width: 100%;
            background-color: #f8f8f8;
           }
         #contact{
            
            /* height: 500px; */
            padding-left: 5%;
            width: 85%;
            
            margin: auto;
         }
         #contact h1{
            color:#303030;
            font-size: 32px;
            font-family: 'Alegreya', serif;
         }
         
         .contact-info p, .contact-info h3, .contact-info span{
            	color:#686868;
               font-size: 17px;
               	
               font-family: 'Alegreya Sans', sans-serif;
         }
         #contact .contact-info{
     width: 40% ;
         padding-top: 10%;
       /* margin-left: auto;  */
      float: left;
      align-items: center;
      /* padding-left:30px ; */
      vertical-align: baseline;
         }
         #contact .contact-info img{
            width: 30px;
            background-color: #8e7754;
            border-radius: 50%;
            cursor: pointer;
         }
         #contact .map {
            margin-left: 10px;
          width: 50%;
          float: right;
          height: 500px ;
            margin: 40px;
         vertical-align: baseline;
         }
         #contact .map iframe{
            width: 100%;
            height: 100%;
         }
                /* summary section */
     #sum{
      background-color: #403d38;
       height: 400px;
       color: #54595e;
       padding: 80px 0px 50px 100px;
       margin: auto;
     }
     #sum h3{
      color:#FFFFFF;
      font-size: 18px;
      font-family: 'Alegreya', serif;
     }
     #sum p , #sum span{
      color:#969696;
      font-size: 16px;
      font-family: 'Alegreya Sans', sans-serif;
      cursor: pointer;
   
     }
     .sum1{
      width: 20%;
      float: left;
      margin-left: 20px;
     }
     .sum2{
      float: left;
      width: 25%;
      line-height: 32px;
      margin-left: 20px;
     }
     .sum2 img{
      width: 20px;

     }
     .sum2 .line{
      background-color: #54595e;
      width:70%;
      height: 0.5px;
     }
     .sum3{
      
      float: left;
      width: 20%;
      line-height: 32px;
      /* margin-left: 20px; */
     }
     .sum3 img{
      width: 20px;
     }
      .sum3 .line{
      background-color: #54595e;
      width:85%;
      height: 0.5px;
     }
     .sum4{
      background-image: url('../images/contact-details-map.png');
      background-repeat: no-repeat;
      background-size:50% 50%;
      background-position: 50% 50%;
      float: left;
      width: 20%;
      line-height: 32px;
      margin-left: 20px;
     }
     .sum4 img{
      width: 30px;
     }
      .sum4 .line{
      background-color: #54595e;
      width:85%;
      height: 0.5px;
     }  

      /* last section */

     #logo{
    background-color:#353330 ;
    /* height: 210px; */
    color:#777777;
     font-size: 15px;
     font-family: 'Alegreya Sans', sans-serif;
    text-align: center;
    padding-block: 50px;

     }
     #logo .img1{
         width: 300px;
         border-radius: 0px;
         background-color: transparent;
     }
     #logo img{
  width: 40px;
  border-radius: 50%;
  background-color: #484540;
   cursor: pointer;
     }
              /*Media query*/
     @media screen and (max-width:576px){
      #Home{
         height: 80%;
      }
      .navbar{
        
        
        height: 80px;
      
      
      }
      .navbar img{
        padding-left: 10px;
         height: 100%;
         width: 20%;
     }
     .navbar ul {
      position: absolute;
      background-color:#403d38;
       
      width: 100%;
       
      left: 0%;
        
      top:3%;
      z-index: 999999999;
      opacity: 0;
      visibility: hidden;
      transition: .6s all;
  }
  .navbar img{
   padding-top: 3%;
  }
   .navbar ul li  a {
      display: inline-block;
      
      padding: 18px;
      color: wheat;
      font-size: 50px;

  }
  .navbar ul li {
   display: block;
     float: none;
     padding: 18px;
 }
  .icon {
    width: 50px;
    height: 40px;
      padding-right: 10px;
    position: absolute;
    right: 5%;
    top: 3%;
    transform: translateY(-50%);
}
.icon span {
  display: inline-block;
  width: 100%;
  height: 4px;
  background-color:white;
  position: absolute;
  transition: .3s all;
}
.icon span:nth-child(1){
top: 0;
}
.icon span:nth-child(2){
top: 50%;
transform: translateY(-50%);
}
.icon span:nth-child(3){
bottom: 0;
}
  .icon:hover +  ul {
   opacity: .9;
   visibility: visible;

}
  

.icon:hover span:nth-child(1){
top: 50%;
transform: translateY(-50%) rotate(45deg);
}
.icon:hover span:nth-child(2){
opacity: 0;
}
.icon:hover span:nth-child(3){
top: 50%;
transform: translateY(-50%) rotate(-45deg);
}
      #home .caption {
         margin-top: 65px;
         padding-top: 50px;
        }
      #home .caption h1{
         font-size: 150px;
        }
      #home .caption .p1{
           margin-bottom: 10px;
          font-size: 60px;
          line-height: 50px;
         }
      #home .caption .p2{
       

       font-size: 64px;
       
      }
      #home .caption .btn1 ,#home .caption .btn2{
         
         font-size: 40px;
      
      }
      #about{
         margin-bottom: 0px;
        
      }
      
      #about .about-img{
           
       
         width: 100%;
          height: 100%;
          margin-top: 20px;

      }
      #about .about-info h1{
          font-size: 150px;
      }
      #about .about-info p{
        
            font-size: 35px;
            line-height: 46px;
            margin-bottom: 20px;
            
        }
        #about .about-info span{
         font-size: 35px;
         line-height: 46px;
         
     }

      
      #about .about-info{
           
         
         width: 100%;
          height: 100%;
          left: 0;
          top: 50%;
          margin-bottom: 0%;

      }
      
    
      .LocCont #location .locaton-info{
         display: inline;
             width: 100%;
       /* text-align: center; */
               
          margin-right: 0px;
         padding-right: 0px;
   
         
      }
      #location .locaton-info h1{
         text-align: center;
         font-size: 46px;
      }
      #location .location-info p{
         width: 200%;
         font-family: 'Alegreya Sans', sans-serif;
         font-size: 36px;
         line-height: 46px;
      
      }
      #location .location-info .p1{
         margin-bottom:30% ;
      }
      #location .location-img{
         display: inline;
         width: 80%;
       text-align: center;
        margin-top: 30%;
      
      }
      
         
         
      #ourbaking{
        margin-top: 5%;
      } 
      .baking{
         width: 90%;
         margin-bottom: 150px;
         font-size: 72px;
      }
      #ourbaking h2{
         font-size: 72px;
      }
      #ourbaking .baking h3{
         font-size: 72px;
      }
      #ourbaking .p1{
         width: 90%;
        margin: auto;
        margin-bottom: 100px;
      }
      #ourbaking  p{
         font-size: 46px;
         line-height: 46px;
        
   
         }
         
         #contact{
            background-color: #f8f8f8;
              padding-bottom: 120px;
             align-items: center;
             width: 100%;
         }
         #contact .contact-info{
            width: 100% ;
              margin-left: 20px; 
             display: inline;
             align-items: center;

                }
         #contact .contact-info h1{
            font-size: 72px;

                }
                #contanct .contact-info p {
                  font-size: 72px;
                  line-height: 46px;
                }
                .contact-info p, .contact-info h3, .contact-info span{
                  color:#686868;
                  font-size: 42px;
                     
                  font-family: 'Alegreya Sans', sans-serif;
            }

                #contact .map {
                  width: 80%;
                  margin: auto;
                  display: inline;
                  height: 600px ;
           float: left;
                 margin-top: 10px;
                 }
                 #sum h3{
                  color:#FFFFFF;
                  font-size: 32px;
                  font-family: 'Alegreya', serif;
                 }
                 #sum p , #sum span{
                  color:#969696;
                  font-size: 30px;
                  font-family: 'Alegreya Sans', sans-serif;
                  cursor: pointer;
               
                 }
                 .sum1{
                  width: 80%;
                 align-items: center;
                 margin-bottom: 60px;
                 }
                 .sum2{
                  width: 80%;
                 align-items: center;
                 margin-bottom: 60px;
                 }
                 .sum3{
                  width: 80%;
                 align-items: center;
                 margin-bottom: 60px;
                 margin-left: 10px;
                 }
                 .sum4{
                  width: 80%;
                 align-items: center;
                 margin-bottom: 60px;
                 }
                 #sum{
                  background-color: #403d38;
                  margin-bottom: 150px;
                   color: #54595e;
                   margin: auto;
                   height: 1500px;
                 }
     
   }
         /*  Medium devices (tablets, 768px and up) */
          @media (min-width: 768px) { 
            #home{
               height: 80%;
            }
            .navbar img{
               width: 20%;
               height: 65%;
           }
           .navbar ul li{
                  font-size: 20px;
        }
           .navbar ul {
                  width: 60%;
        }
        .navbar .caption{
         padding-top: 60px;
        }
          }

         /* Small devices (landscape phones, 576px and up) */
          /* @media (min-width: 576px) {
               
             }                              */
         
         
         
         
         
         
         